<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-3 mb-5">
      <h1 id="login-title" class="login-title">Welcome to SJ Golf!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-2">
      <input type="text" placeholder="Username" id="login-username-field">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-3">
      <input type="text" placeholder="Password" id="login-password-field">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" id="login-button">Login</button>
    </div>
  </div>
</div>
