<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-3 mb-4">
      <h1 id="login-title" class="login-title">Welcome!</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 input-field-container py-4">
      <div class="row justify-content-center">
        <div class="col-10 text-center mb-2">
          <input type="text" placeholder="Username" id="login-username-field" class="input-field username-box">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 text-center mb-4">
          <input type="text" placeholder="Password" id="login-password-field" class="input-field password-box">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8 text-center">
          <button type="button" class="btn btn-primary login-button" id="login-button">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
