.header-logo {
  height: 80px;
  width: 150px;
}

.background {
  box-shadow:  5px 2px 5px 0 rgba(0,0,0,0.5);
  background-image: linear-gradient(to right, #75d2bf, white);
}

.hr-shadow {
  box-shadow:  2px 2px 5px 0 rgba(0,0,0,0.2);
}
