.login-title {
  font-weight: 600;
}

.input-field-container {
  //background: burlywood;
  border-radius: 10px;
}

.input-field {
  border: none;
  border-bottom: 2px solid lightblue;
  &:focus {
    outline-width: 0;
  }
}
